@{
    Layout = "~/Views/Shared/_Layout_Cliente.cshtml";
}


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Cliente.cshtml";
}
<style>
    .page-header:before {
        background: linear-gradient(to right, #79a4b6cc, #afcb6ac9);
    }

    .pcoded .pcoded-navbar .pcoded-item > li.active > a {
        background: linear-gradient(to right, #78a4b8, #78a4b8);
        color: #fff !important;
        text-align: left;
        padding: 5px 10px;
        margin: 0 10px;
        border-radius: 5px;
    }

        .pcoded .pcoded-navbar .pcoded-item > li.active > a > span > i {
            color: #fff !important;
        }
    </style>


<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Dashboard</h5>
                        <p class="m-b-0">Ecommerce casalbor </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="/Cliente"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Buscar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Buscar   </h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Page-body end -->
            </div>
            <div id="styleSelector"> </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery/jquery.min.js"></script>
<script>$('#IdBuscar').addClass("active");</script>

<!--<script>
    $(document).ready(function() {
        // Capturar el clic en el menú
        $('.menu a').click(function(e) {
            e.preventDefault(); // Evitar la navegación normal del enlace

            // Obtener la vista a cargar
            var view = $(this).data('view');

            // Realizar la petición Ajax al servidor
            $.ajax({
                url: '@Url.Action("Datos", "Cliente")',
                type: 'GET',
                data: { view: view },
                success: function(result) {
                    // Actualizar la página con la nueva vista
                    $('#vista-parcial').html(result);
                },
                error: function () {
                    alert('Error al cargar la vista');
                }
            });
        });
    });
</script>-->
<!-- Contenedor para cargar las vistas -->
<!--<div id="vista-parcial" class="d-flex mx-auto">


</div>-->
