@{
    Layout = "~/Views/Shared/_Layout_Cliente.cshtml";
}



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Cliente.cshtml";
}
<style>
    .page-header:before {
        background: linear-gradient(to right, #79a4b6cc, #afcb6ac9);
    }
    .pcoded .pcoded-navbar .pcoded-item > li.active > a {
        background: linear-gradient(to right, #78a4b8, #78a4b8);
        color: #fff !important;
        text-align: left;
        padding: 5px 10px;
        margin: 0 10px;
        border-radius: 5px;
    }

    .pcoded .pcoded-navbar .pcoded-item > li.active > a > span > i {
        color: #fff !important;
    }

    h2 {
        color: #333;
    }

    p {
        color: #666;
        line-height: 1.6;


 </style>


<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Dashboard</h5>
                        <p class="m-b-0">Ecommerce casalbor </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="/Cliente"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Privacidad</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-8">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Privacidad   </h5>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12 p-50" style="max-height:75vh; overflow-y: auto;">
                                            <h2 class="text-center">Política de Privacidad</h2>

                                            <p><em>Última actualización: 29/08/2023</em></p>

                                            <p class="text-justify">Bienvenido(a) a Ecommerce casalbor. Valoramos y respetamos tu privacidad. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que puedas proporcionarnos a través de nuestro sitio web.</p>

                                            <h3>1. Información que Recopilamos</h3>

                                            <p class="text-justify"><strong>Información de Contacto:</strong> Podemos recopilar tu nombre, dirección de correo electrónico, número de teléfono y dirección de envío para procesar tus pedidos y brindarte atención al cliente.</p>

                                            <p class="text-justify"><strong>Información de Pago:</strong> Si realizas una compra en nuestro sitio, recopilaremos la información necesaria para procesar tu pago, como los detalles de tu tarjeta de crédito o información de cuenta de PayPal.</p>

                                            <p class="text-justify"><strong>Datos de Navegación:</strong> Podemos recopilar datos sobre cómo navegas por nuestro sitio, como tu dirección IP, tipo de navegador, páginas visitadas y tiempo de navegación. Utilizamos esta información para mejorar la experiencia del usuario y para análisis.</p>

                                            <h3>2. Uso de la Información</h3>

                                            <p class="text-justify"><strong>Utilizamos la información recopilada para los siguientes fines:</strong></p>

                                            <p class="text-justify"><strong>Procesar y Enviar Pedidos:</strong> Utilizamos la información de contacto y de pago para procesar tus pedidos y enviarte los productos que has comprado.</p>

                                            <p class="text-justify"><strong>Comunicación:</strong> Podemos enviarte correos electrónicos relacionados con tu pedido, confirmaciones de compra, actualizaciones de envío y comunicaciones de servicio al cliente.</p>

                                            <p class="text-justify"><strong> Personalización:</strong> Utilizamos los datos de navegación para mejorar nuestro sitio web y personalizar tu experiencia, incluyendo recomendaciones de productos.</p>

                                            <p class="text-justify"><strong>Cumplimiento Legal:</strong> Podemos utilizar tu información para cumplir con requisitos legales y regulatorios.</p>

                                            <h3>3. Compartir de Información</h3>

                                            <p class="text-justify">No compartimos tu información personal con terceros, excepto en los siguientes casos:</p>

                                            <p class="text-justify"><strong>Proveedores de Servicios:</strong> Podemos compartir información con proveedores de servicios externos que nos ayudan a procesar pedidos, realizar análisis y mejorar nuestro sitio.</p>

                                            <p class="text-justify"><strong>Cumplimiento Legal:</strong> Podemos divulgar información si estamos legalmente obligados a hacerlo o si creemos de buena fe que dicha divulgación es necesaria para cumplir con la ley.</p>

                                            <h3> 4. Cookies y Tecnologías de Seguimiento</h3>

                                            <p class="text-justify">Utilizamos cookies y tecnologías similares para mejorar la funcionalidad y la experiencia del usuario en nuestro sitio. Puedes gestionar tus preferencias de cookies a través de la configuración de tu navegador.</p>

                                            <h3> 5. Seguridad</h3>

                                            <p class="text-justify">Implementamos medidas de seguridad para proteger tu información personal contra accesos no autorizados, pérdida o alteración.</p>

                                            <h3>6. Tus Derechos</h3>

                                            <p class="text-justify"> Tienes derecho a acceder, corregir y eliminar tus datos personales.</p>















                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>
                    </div>
                </div>
                <!-- Page-body end -->
            </div>
            <div id="styleSelector"> </div>
        </div>
    </div>
</div>

<script src="~/assets/js/jquery/jquery.min.js"></script>
<script>$('#IdMenuPrivacidad').addClass("active");</script>

<!--<script>
    $(document).ready(function() {
        // Capturar el clic en el menú
        $('.menu a').click(function(e) {
            e.preventDefault(); // Evitar la navegación normal del enlace

            // Obtener la vista a cargar
            var view = $(this).data('view');

            // Realizar la petición Ajax al servidor
            $.ajax({
                url: '@Url.Action("Datos", "Cliente")',
                type: 'GET',
                data: { view: view },
                success: function(result) {
                    // Actualizar la página con la nueva vista
                    $('#vista-parcial').html(result);
                },
                error: function () {
                    alert('Error al cargar la vista');
                }
            });
        });
    });
</script>-->
<!-- Contenedor para cargar las vistas -->
<!--<div id="vista-parcial" class="d-flex mx-auto">


</div>-->
