
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Administracion.cshtml";
}

<style>
    .table td, .table th {
        padding: 0.25rem 0.75rem;
    }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="~/assets/icon/icofont/css/icofont.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Sucursales </h5>
                        <p class="m-b-0">Ecommerce San Juan </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#!">Sucursales </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-body start -->
                <div class="page-body">

                    <div class="row">
                        <div class="col-sm-12">
                            <!-- Basic Form Inputs card start -->
                            <div class="card">
                                <div class="card-header">
                                    <h5>Sucursales    </h5>
                                    <span>Completa los campos marcados *</span>
                                    <span>Envió a través de sucursales, registra el código postal que cubrirán envíos .</span>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <label for="largeInput">* CP  </label>
                                                <input type="text" class="form-control form-control input-number" id="NombreFlujo" onchange="ValidaInput('NombreFlujo')">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <br />
                                            <button class="btn waves-effect waves-light btn-info col-sm-12" id="BtnCrearFlujo"><i class="icofont icofont-search-alt-1"></i> Buscar CP </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <label for="largeInput">* Monto mínimo </label>
                                                <input type="text" class="form-control form-control input-number" id="PPromocion" onchange="ValidaInput('PPromocion')">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <div class="form-group">
                                                <label for="largeInput">* Monto máximo   </label>
                                                <input type="text" class="form-control form-control input-number" id="PPromocion" onchange="ValidaInput('PPromocion')">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <br />
                                            <button class="btn waves-effect waves-light btn-primary col-sm-12" id="BtnCrearFlujo"><i class="icofont icofont-save"></i> Guardar </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="~/assets/js/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>


<script>



    $('#IdEnvioSucursal').addClass("active pcoded-trigger");

</script>
